body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    padding: 20px;
    text-align: center;
    flex: 1;
}

.contenido {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formulario {
    max-width: 400px;
    margin: 0 auto;
}

.formulario h2 {
    margin-top: 0;
    font-size: 24px;
    text-align: center;
    color: #000000;
    margin-bottom: 20px;
}

.usuarios {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="datetime"],
input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 5px;
}

input[type="datetime"]:focus,
input[type="text"]:focus {
    outline: none;
    border-color: #007bff;
}

input[type="submit"] {
    width: 100%;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* CSS para el horario disponible */
.horario-disponible {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.horario-disponible:hover {
    background-color: #f0f0f0;
}

/* CSS para el mensaje de éxito */
.mensaje-exito {
    margin-top: 10px;
    padding: 10px;
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
    border-radius: 5px;
    color: #3c763d;
}

/* CSS para el mensaje de error */
.mensaje-error {
    margin-top: 10px;
    padding: 10px;
    background-color: #f2dede;
    border: 1px solid #ebccd1;
    border-radius: 5px;
    color: #a94442;
}


/* Estilo para el contenedor de citas */
#contenedorCitas {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

#contenedorCitas h2 {
    margin-top: 0;
    font-size: 24px;
    text-align: center;
    color: #000000;
    margin-bottom: 20px;
}

/* Estilo para la lista de citas agendadas */
#listaCitas {
    padding: 0;
    list-style-type: none;
}

/* Estilo para cada cita */
#listaCitas li {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: #fff;
}

#botonEditar {
    display: none;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 auto;
}

#botonEditar:hover {
    background-color: #0056b3;
}

/* Calendario */
.calendario {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    text-align: center;
    margin: auto;
}

.calendario .dia {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.calendario .dia:hover {
    background-color: #f0f0f0;
}

.cita-programada {
    background-color: #ffcccb;
}

#contenedorCitas {
    margin-bottom: 20px;
}

/* Historial */
#historialCitas {
    padding: 0;
    list-style-type: none;
}

/* Estilo para cada cita en el historial */
#historialCitas li {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: #fff;
}

/* Estilo para el contenedor del historial */
#contenedorHistorial {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

#contenedorHistorial h2 {
    margin-top: 0;
    font-size: 24px;
    text-align: center;
    color: #000000;
    margin-bottom: 20px;
}

/* Lista confirmación */
/* Estilos para el contenedor de citas pendientes de confirmación */
#contenedorCitasPendientes {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

/* Estilo para el título del contenedor de citas pendientes */
#contenedorCitasPendientes h2 {
    margin-top: 0;
    font-size: 24px;
    text-align: center;
    color: #000000;
    margin-bottom: 20px;
}

/* Estilo para la lista de citas pendientes */
#listaCitasPendientes {
    padding: 0;
    list-style-type: none;
}

/* Estilo para cada cita pendiente */
#listaCitasPendientes li {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: #fff;
}

#contenedorCitasPendientes a {
    display: block;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 auto;
}

#contenedorCitasPendientes a:hover {
    background-color: #0056b3;
}
